* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
ul,
li,
button {
  all: unset;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* 상단 네비 -----------------------------------------------------------*/

.upper-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.header-logo a {
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.header-item a img {
  width: 2rem;
  height: auto;
  cursor: pointer;
  padding: 0 0.5rem;
}

#hambuger-icon img {
  width: 1.5rem;
  height: auto;
  cursor: pointer;
  margin-left: 0.5rem;
}

/* 네비 활성화 -----------------------------------------------------------*/
#nav-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: #fff;
  z-index: 999;
  font-family: "Nanum Gothic", sans-serif;
  transition: 0.4s ease;
}

.nav-upper {
  margin: 0;
}

.nav-upeer__item {
  padding: 1rem 1rem;
}

.nav-upeer__item h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
  color: #686868;
}

.nav-upeer__item p {
  font-size: 0.7rem;
  color: #737373;
}

.nav-upper ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.nav-upper ul li {
  width: 50%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #1d293f;
  color: #fff;
  font-size: 0.7rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.nav-upper ul li:last-child {
  background-color: #fff;
  color: #333;
}

.nav-lower ul {
  display: flex;
  flex-flow: column nowrap;
}

.nav-lower ul li {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ddd;
  line-height: 45px;
  padding: 0 1rem;
  color: #5c5c5c;
  font-weight: 600;
  font-size: 0.7rem;
  cursor: pointer;
}

#closeBt {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #5c5c5c;
  font-size: 1.2rem;
  cursor: pointer;
}

/* 메인 이미지 영역 -----------------------------------------------------------*/

@keyframes blink-effect {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity-img {
  position: relative;
}

.opacity-upper {
  width: 100%;
  height: auto;
  max-height: 960px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 997;
  opacity: 1;
  animation: blink-effect 12s infinite;
}

.opacity-lower {
  width: 100%;
  height: auto;
  max-height: 960px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 995;
}

.plastic {
  background: url("https://www.plasta.co.kr/images/mv_plastic.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
  cursor: pointer;
}

.plastic.next {
  background: url("https://www.plasta.co.kr/images/mv_plastic2.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
  cursor: pointer;
}

.plastic a,
.metal a {
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  font-size: 1rem;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.plastic a p::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  vertical-align: middle;
  padding: 0 1rem;
}

.metal {
  background: url("https://www.plasta.co.kr/images/mv_metal.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
  cursor: pointer;
}

.metal.next {
  background: url("https://www.plasta.co.kr/images/mv_metal2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
  cursor: pointer;
}

.metal a {
  left: 0;
}

.metal a p::before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.5rem;
  vertical-align: middle;
  padding: 0 1rem;
}

/* 팝업창 ----------------------------------------------------------------*/
.popUp-container {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 600px;
  max-width: 90%;
  padding: 3.5% 1.5% 2%;
  text-align: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  box-shadow: 5px 10px 10px rgb(0 0 0 / 20%);
  border-radius: 0 10px 0 10px;
  /* 삭제해야함 */
  display: none;
}

iframe {
  height: 324px;
}

.popUp-tit {
  font-size: 1rem;
  font-weight: bold;
  color: #212121;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
}

.close-pop {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 0;
  display: block;
  background: #c8aa9a;
  line-height: 40px;
  text-align: center;
}

.close-pop::after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}

.btn_more {
  display: inline-block;
  color: #fff;
  background: #c8aa9a;
  line-height: 2rem;
  border-radius: 40px;
  padding: 0 0.9rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
}

.close {
  display: none;
}

/* 신상 정보----------------------------------------------------------------- */
.new-collection {
  overflow: hidden;
  padding: 7.5rem 0;
  background-color: #c8aa9a;
  width: 100%;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.3rem;
}

.new-collection__tit {
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.new-collection__more {
  color: rgba(29, 41, 63, 0.3);
  font-size: 0.8rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  margin-bottom: 2.2rem;
}

.collection-container {
  width: 975px;
  height: 560px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px
  밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
}

.collection__list {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(975px * 3); /* 슬라이드할 사진과 마진 총 넓이 */
  transform: translateX(calc(-975px * 0));
}

.collection__item {
  float: left;
}

.collection__item img {
  vertical-align: bottom;
}

/* 브랜드 소개 */
.plasta-about {
  position: relative;
  color: #e8cec1;
  background: url("https://images.velog.io/images/duboo/post/f8690763-89e0-44c2-8149-1ae37fc58c4d/image.png")
    no-repeat right top;
  background-size: 100% auto;
  padding-top: 60vw;
  overflow: hidden;
}

.plasta-about h3 {
  position: absolute;
  left: 0;
  top: 8%;
  font-weight: 500;
  color: #c8aa9a;
  padding-left: 100px;
  letter-spacing: 0.4rem;
}

.plasta-about h3::before {
  content: "";
  width: 86px;
  height: 1px;
  background: #c8aa9a;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 0.2rem;
}

.plasta-about__text {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  background-color: rgb(29, 41, 63);
  padding: 8rem 0;
}

.plasta-about__text h4 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.plasta-about__text h4 span {
  display: inline-block;
  width: 135px;
  border-bottom: 2px solid #e8cec1;
  margin-left: -0.2rem;
  margin-right: 0.5rem;
}

.plasta-about__text p {
  margin-top: 2.5rem;
  line-height: 2.2rem;
  font-size: 1.2rem;
}

/* Desktop 영역 -----------------------------------------------------------*/
/* 스크린의 크기가 950을 넘게된다면 해당 스타일을 적용합니다. */
@media screen and (min-width: 950px) {
  /* 상단 영역 */
  .header-logo a {
    font-size: 2.5rem;
  }

  .header-item a img {
    width: 2.5rem;
    height: auto;
  }

  #hambuger-icon img {
    width: 2rem;
    height: auto;
  }

  /* 메인 이미지 영역 */
  .opacity-upper,
  .opacity-lower {
    flex-direction: row;
  }

  .plastic,
  .plastic.next {
    width: 50%;
    height: 960px;
  }
  .metal,
  .metal.next {
    width: 50%;
    height: 960px;
  }

  .plastic a,
  .metal a {
    font-size: 1.5rem;
  }

  .opacity-lower {
    flex-direction: row;
  }

  /* 브랜드 설명 영역 */
  .plasta-about {
    padding-top: 0;
    background-size: auto 100%;
  }

  .plasta-about__text {
    order: -1;
    width: 50%;
    padding: 17rem 0;
  }
}
